datacenter = "{{ datacenter }}"
data_dir = "{{ data_dir }}"
client_addr = "{{ client_addr }}"
ui_config{
  enabled = {{ ui }}
}
server = {{ server }}
bind_addr = "{{ bind_addr}}"
bootstrap_expect = {{ bootstrap_expect }}
encrypt = "{{ encrypt }}"
