datacenter = "{{ datacenter }}"
data_dir = "{{ data_dir }}"
server = {{ server }}
bind_addr = "{{ bind_addr}}"
encrypt = "{{ encrypt }}"
enable_script_checks = {{ enable_script_checks }}
leave_on_terminate = {{ leave_on_terminate }}
retry_join = ["{{ retry_join }}"]
