[Unit]
Description=Consul template service
After=network.target

[Service]
ExecStart=/usr/local/bin/consul-template -config=/etc/nginx/conf.d/consul-template.hcl
Restart=always
User=root
Group=nogroup

[Install]
WantedBy=multi-user.target
